body {
    background-image: url("../images/Kalas.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(80, 175, 222);
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

header h1 {
    margin-left: 20px;
}

nav {
    background-color: #333333;
    width: 100%;
    display: flex;
    justify-content:center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.708);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111111;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    margin-top: 10%;
    border-color: #ad1c1c;
    border-style: double;
    background-color: rgba(60, 203, 255, 0.751);
    background-clip: content-box;
}

thead {
    border-color: #ad1c1c;
    border-style: double;
    
}

tbody {
    border-color: #ad1c1c;
    border-style: double;
}

th {
    border-color: #ad1c1c;
    border-style: double;
}

tr {
    border-color: #ad1c1c;
    border-style: double;
}

td {
    border-color: #ad1c1c;
    border-style: double;
}

h1 {
  text-align: center;
  font-weight: bolder;
}

h2 {
    width: 30%;
    text-align: center;
    border: auto;
    padding: auto;
    margin: auto;
    font-weight: bolder;
}

h6 {
    text-align: center;
    font-weight: bolder;
}
.happy-monkey-regular {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
  }
